/* change hovered image logo to funSTUFF */

.headMENU a.logo:hover {
    background-size: 200px 35px;
    background-image: url("../imgs/funLogoHOVER.png");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 9px;
}
