/* CUSTOM SCROLLBAR STYLE */

::-webkit-scrollbar {   /* SCROLLBAR WIDTH */
    width: 10px;
    height: 10px;
}

/* ::-webkit-scrollbar-button */

::-webkit-scrollbar-track {     /* SCROLLBAR AREA */
    background: rgba(45, 75, 110, 0.55);
}

/* ::-webkit-scrollbar-track-piece */

::-webkit-scrollbar-thumb {     /* SCROLLBAR */
    /* background: rgba(100, 148, 237, 0.70); */
    background: rgba(45, 75, 110, 0.55);
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: rgba(45, 75, 110, 0.55);
}

/* ::-webkit-resizer */

::-webkit-scrollbar-thumb:hover {   /* SCROLLBAR HANDLE ON HOVER */
    /* background: rgba(100, 148, 237, 0.75); */
    background: rgba(100, 148, 237, 0.25);
}
