/* custom scrollbar to match page theme */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(40, 45, 55);
}

::-webkit-scrollbar-thumb {
    background: rgb(50, 55, 65);
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: rgb(40, 45, 55);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(70,75, 85);
}
